<%= render("/layouts/navbar.html.erb") %>

<p> </p>

<h1>Vote for your Preferred Time</h1>

<div>
    <p>Placeholder for Free Times</p>
</div>

<a href="/event/details/<%= @event.id %>">
  Cancel
</a>