<nav>
  <div>
    <a href="/event/calculate_time/<%= @event.id %>">
      Search for Best Time
    </a>
  </div>

  <div>
    <a href="/event/vote/<%= @event.id %>">
      Vote
    </a>
  </div>
  
  <div>
    <a href="/event/publish/<%= @event.id %>">
      Finalize Meeting Time
    </a>
  </div>
  <p> </p>

  <!--<div>
    <a href="/new_photo_form">
      <i class="fas fa-plus"></i>

      Add a photo
    </a>
  </div>
  
  <div>
    <a href="/users">
      <i class="fas fa-users"></i>

      All Users
    </a>
  </div>-->
</nav>