<div>
    <h2> Upcoming Obligations </h2>
    <table>
        <th>Event Name</th>
        <th>Start Date</th>
        <th>Start Time</th>
        <th>End Date</th>
        <th>End Time</th>
        <!--insert ruby code-->
            <tr>
                <td>
            
                </td>
            </tr>
        <!--end-->
    </table>
</div>