<html>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">TBD</a>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>                     <!--insert user id-->
              <li class="nav-item"><a class="nav-link" href="/events/new">Create an Event</a></li>
              <li class="nav-item"><a class="nav-link" href="/dashboard/past_events/">Past Events</a></li>      <!--insert user id-->
              <li class="nav-item"><a class="nav-link" href="">Log into Google</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/sign_out">Logout</a></li>
            </ul>
          </div>
        </nav>
    </body>
</html>